.App {
  text-align: left;
}
.navbar{
  /* border:1px solid rgb(246, 86, 182); */
  margin:auto;
  margin-top:10px;
  display:flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2%;
  width:100%;
  margin-bottom:1%;
}

.navitems{
  padding:20px;
  font-size: 20px;
  font-style: italic;
text-decoration: none;
color:black;

}
.container{
  margin-left: 8%;;
  width:30%;
margin-top: 1%;;


}
.signlogo{
  width:10%;
  padding:3%;
  margin-right:8%;
}
.cartlogo{
  width:12%;
  padding:4%;

}
.navitems1{
  margin-right:70%;;

  /* border:1px solid rgb(234, 31, 31); */
  width:55px;
}
.search{
  width:50%;
}
.home{
  margin:auto;
}
.item{
  width:100%;
}
.item2{
  width:50%;

}
.item3{
  width:45%;
  /* border: 1px solid black;; */
  margin:auto;

}
.item1{
  /* width:50%; */
  /* border: 1px solid black;; */
  display: flex;
}
.loginContainer{
  background-color: rgb(244, 213, 218);
  margin:auto;
  height:100%;
  padding:5%;
  /* border: 1px solid black;; */
}
.loginPart{
  /* border:1px solid rgb(217, 31, 31);  */
  width:30%;
  margin:auto;
  margin-top:2%;
  padding:2%;
  margin-bottom:2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  background-color: white;;


}
.Para{
  font-size: 13PX;;
  color:rgba(40,44,63,.8);
}
.inputForms{
  border:rgba(40,44,63,.8);;
  width:100%;
  /* height:10%; */
}
.loginPart2{
  color:#ff3c6f;
  font-size:"14px"
}
.continueButton{
  cursor: pointer;
  background-color: #ff3f6c;
  text-align: center;
  padding: 12px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width:100%;
  border:none;
}
.menContainer{
  /* border:1px solid black;/ */
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  padding:1%;
  width:80%;
  margin:auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.menContainer > div{
  /* border:1px solid black; */
  width:70%;
  margin:auto;
border-radius:2%;
  padding:3%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.menContainerData{
  /* width:50%; */
  margin:auto;
  /* border: 1px solid rgb(22, 235, 107); */
}
.content{
  text-align: center;
  padding:5%;
  border-radius: 10%;
  width:90%;
  /* text-decoration: none; */
  /* border: 1px solid rgb(161, 15, 15);; */

}

.menPhoto{
  width:100%;
  border-radius: 5%;;
}
.selectMenChategory{
  width:20%;
  margin-left:40%;
  padding:1%;
  margin-bottom:1%;
  border: 3px solid blue;
  color:#ff3c6f;
  font-size:medium;

}
.names{
  /* border:1px solid black; */
  text-decoration: none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
